$primary-color: #4680ff;
$primary-text-color: #1d2630;
$main-background-color: #212a35;
$color-success: #00c851;
$color-error: #ff4444;
$stroke-width: 5px;
$size: 100px;
$checkmark-color: white;

$image-url: "../../public/images";
$icon-url: "../../public/icons";
